@import "_normalize.scss";

.wrapper {
  padding: 20px;
  display: flex;
  cursor: default;

  .video {
    width: 1280px;
    height: 720px;
    border-radius: 10px;
  }

  .speed {
    width: 50px;
    height: 720;
    border-radius: 10px;
    background: #ececec;
    text-align: center;
    display: flex;

    .speed__bar {
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 1;
      background: linear-gradient(-170deg, #2376ae 0%, #c16ecf 100%);
      border-radius: 10px;
      color: #cacaca;
      min-height: 1rem;
    }
  }
}
